body{
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
color: black;
margin-bottom:20px;
width: 100%;
height: 100%;
justify-content: center;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
    padding-bottom: 10px;
box-sizing: border-box;
border: 1px solid  green;


}
button{
    background-color: green;
    color: white;
    text-align: center;
    font-weight: bold;
    border: 1px solid green;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;


}
#delete-btn
{
    background-color: white;
    color: green;
    font-weight: bold;
}

ul{
    margin-top: 20px;
color: green;
list-style: none;
padding: 0;
}

li{
    color: green;
 margin-top: 5px;
}
li a{
    color: green;

}